/* Footer.css */

.footer {
    background-color: #00274c;
    color: #808080;
    padding: 10px 0;
    border-radius: 9999px; /* fully rounded */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* optional spacing between sections */
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo img {
    width: 55px; /* Adjust the width as needed */
    height: auto;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;

}

.footer-links a {
  text-decoration: none;
   color: #808080; /* University of Nevada silver color for text */
  ;
}

.footer-social a {
  color:  #808080;
  margin-right: 10px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}