.App {
  text-align: center;
}

body {
  background-color:white; /* Change the background color to grey */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* This ensures that the container takes at least the full height of the viewport */
}

#root {
  flex: 1; /* This allows the root container to grow and take up the remaining space */
}

.Details {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Optionally, to center vertically within the viewport */

}

.logo-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
}
.logo{
  width: 55px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px; /* Optional: space between logo and text */
}